[user]
  email = loclepnvx@gmail.com
  name = loctvl842
[commit]
  template = ~/.gitmessage
[github]
  user = loctvl842
[credential "https://github.com"]
  helper = 
  helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = 
  helper = !/opt/homebrew/bin/gh auth git-credential
[http]
	postBuffer = 524288000
[safe]
	directory = /opt/flutter
[pull]
	rebase = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[credential]
  helper = !/opt/homebrew/bin/gh auth git-credential
