[user]
  email = loclepnvx@gmail.com
  name = loctvl842
[commit]
  template = ~/.gitmessage
[github]
  user = loctvl842
[credential "https://github.com"]
  helper = 
  helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper = 
  helper = !/usr/bin/gh auth git-credential
[http]
	postBuffer = 524288000
[safe]
	directory = /opt/flutter
