/* vscode.rasi */
/* tokyo-night.rasi */

/* Choosing theme */
@import "./appearance.rasi"

configuration {
  kb-accept-entry: "Return,KP_Enter";
}

window {
	width: 320;
	location: center;
  y-offset: -100;
}

mainbox {
  children: [textbox-prompt-colon, inputbar];
  background-color: transparent;
}

textbox-prompt-colon{
	str: "BORDER";
}

inputbar {
	border: 0;
  border-radius: 0;
	margin: 0;
	padding: 15 0 15 10;
}

prompt {
	color: @foreground;
}
