configuration {
    display-drun: "Application";
    display-window:"Window";
    drun-display-format: "{icon} {name}";
    show-icons: true;
    icon-theme: "Papirus";
    font: "Fira Code 12";
    modi: "window,drun,run";
    sidebar-mode: true;
}

@theme "~/.config/rofi/themes/tokyo-night.rasi"
